@charset "UTF-8";

body {
	background-color: #812a2a;
	font-family: Georgia, serif;
	font-weight: bold;
	color: white;
}

h1 {
	float:left;
	padding : 20px;
}

table {
	background-color: #2a7c5c;
	border: 2px solid #35384e;
}

tr {
	border: 2px solid #35384e;
}

input{
	font-size: 20px;
	border-radius: 10px;
	background-color: #f3f6f4;
	border: 1px solid #812a2a;
}

.headLine{
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 20px;
	margin-bottom: 40px;
	margin-left: 10%;
	margin-right: 10%;
	width: 50%;
	border: 2px solid #35384e;
	background-color: #2a7c5c;
}

.headLine img{
	float:left;
	padding: 20px;
}

.headLine::after {
   clear: both;	
   content: "";
   display: table;
}

.menu {
	display: block;
	float: left;
}

#productForm{
	padding-top: 40px;
	padding-left: 35%;
	padding-right: 35%;
}



/* Poker Table Styles */

#gameContainer{
	width: 100%;
	height: 100%;
}

#pokerTable{
	padding-top: 30px;
	border: 5px solid #fbe9c3;
	border-radius: 16px;
	height: 800px;
	background: #2a7c5c; 
}

#cardSlots {
	margin: 0%;
}

#cardSlots, img {
	width: 13%;
	height: 25%;
}

#deckImage {
	padding: 2.5%;
	height:30%;
	width:20%;
}
